body {
	background: url(../background.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.content-wrapper {
	margin: auto;
	max-width: 1200px;
}