button {
	background: none;
	font-family: Urbanist;
}

.modal {
    position: absolute;
    top: 100px;
    left: 100px;
    right: 100px;
    bottom: 100px;
    background-color: #222222;
}

.close-button {
	float: right;
	font-size: 28px;
	font-weight: bold;
	color: white;
}

.close-button:hover, .close-button:focus {
	text-decoration: none;
	color: rgb(212, 212, 212);
	cursor: pointer;
}

.container {
	border-width: 2px;
	border-radius: 5px;
	display: flex;
	flex-direction: row;
	background-color: #222222;
	margin-top: 20px;
	margin-left: 10px;
	margin-right: 10px;
}

.row {
	display: flex;
	flex-direction: row;
}

.column {
	display: flex;
	flex-direction: column;
}

.profile-owner-container {
	width: 450px;
	height: 120px;
	justify-content: center;
	align-items: center;
}

.follower-container {
	width: 450px;
	height: 500px;
	display: flex;
	flex-direction: column;
}

.follower-grid {
	margin-left: 20px;
	display: grid;
	grid-template-areas: "a a a";
	grid-auto-rows: 150px;
}

.stats-container {
	width: 450px;
	height: 150px;
}

.recent-games-container {
	display: flex;
	flex-direction: column;
	width: 450px;
	height: 330px;
}

.profile-owner-username {
	font-size: 50px;
	margin: 7px;
}

.profile-picture-container {
	width: 100px;
	height: 100px;
}

.profile-picture-container-highlight {
	width: 100px;
	height: 100px;
}

.profile-picture-container-highlight:hover {
	cursor: pointer;
	-webkit-filter: brightness(70%);
}

.comments-container {
	display: flex;
	flex-direction: column;
	width: 920px;
}

.header {
	display: block;
	width: 60%;
	font-size: 25px;
	text-align: left;
	margin: 10px;
}

.comment-input {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 90%;
	margin: auto;
	height: 80px;
  }

.follow-button {
	height: 30px;
	font-size: 20px;
	width: 150px;
	margin: 10px auto;
	margin-left: 1000px;
	display: flex;
}

.post-button {
	height: 30px;
	width: 250px;
	font-size: 20px;
}

.blue-button {
	background-color: #07AAE1;
}

.blue-button:hover {
	background-color: #0392c2;
	cursor:pointer;
}