button {
	background: none;
	font-family: Urbanist;
}

.container {
	border-width: 2px;
	border-radius: 5px;
	display: flex;
	flex-direction: row;
	background-color: #222222;
	margin-top: 20px;
	margin-left: 10px;
	margin-right: 10px;
}

.row {
	display: flex;
	flex-direction: row;
}

.column {
	display: flex;
	flex-direction: column;
}

.profile-owner-container {
	width: 450px;
	height: 120px;
	justify-content: center;
	align-items: center;
}

.follower-container {
	width: 450px;
	height: 500px;
	display: flex;
	flex-direction: row;
}

.stats-container {
	width: 450px;
	height: 150px;
}

.recent-games-container {
	width: 450px;
	height: 330px;
}

.profile-owner-username {
	font-size: 50px;
	margin: 7px;
}

.profile-picture {
	width: 100px;
	height: 100px;
	border-radius: 50px;
}

.comments-container {
	display: flex;
	flex-direction: column;
	width: 920px;
}

.header {
	display: block;
	width: 100%;
	font-size: 25px;
	text-align: left;
	margin: 10px;
}

.comment-input {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 90%;
	margin: auto;
	height: 80px;
  }

.button {
	display: flex;
	align-items: center;
	justify-content: center;
	border-style: none;
	border-radius: 5px;
	border-color: #000000;
	text-decoration: none;
	letter-spacing: 5px;
	margin: 20px auto;
	font-weight: bold;
}

.follow-button {
	height: 30px;
	font-size: 20px;
	width: 150px;
	margin: 10px;
}

.post-button {
	height: 30px;
	width: 250px;
	font-size: 20px;
}

.blue-button {
	background-color: #07AAE1;
}

.blue-button:hover {
	background-color: #0392c2;
	cursor:pointer;
}