button {
	background: none;
	border: none;
	font-family: Urbanist;
	color: white;
}

.black-background {
	background-color: #222222;
}

.sort-by-container {
	display: flex;
	flex-direction: row;
	background-color: #4b4b4b;
	font-size: 20px;
	padding: 5px;
	margin-top: 40px;
	border-style: none;
	border-radius: 5px;
}

.sort-by-item {
	margin-left: 10px;
	margin-right: 10px;
	font-size: larger;
}

.sort-by-button:focus {
	text-decoration: underline;
	color: rgb(233, 233, 233)
}

.sort-by-button:hover {
	text-decoration: underline;
	cursor:pointer;
}

.rankings-headings {
	display: flex;
	flex-direction: row;
	width:1000px;
	font-size: 28px;
	align-items:flex-end;
	margin: 10px auto;
}

u {
	font-size: 40px;
	margin-left: 30px;
}

.rank-score-heading {
	display: flex;
	justify-content: right;
	width: 290px;
}

.games-played-heading {
	display: flex;
	justify-content: right;
	width: 210px;
}

.wpm-heading {
	display: flex;
	justify-content: right;
	width: 95px;
}

.accuracy-heading {
	display: flex;
	justify-content: right;
	width: 180px;
}

.rankings-container {
	margin-bottom: 40px;
}