.login-wrapper{
    border-style: solid;
	border-color: #000000;
	border-width: 2px;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #222222;
	width: 400px;
	height: 300px;
    margin-top: 128px;
    
}
.small-button1 {
	height: 40px;
	font-size: 35px;
	padding-bottom: 5px;
}
.pink-button1 {
	background-color: #EE4298;
}

.pink-button1:hover {
	background-color: #d4257c;
}
.button1 {
	display: flex;
	align-items: center;
	justify-content: center;
	border-style: none;
	border-radius: 15px;
	border-color: #000000;
	color: #FFFFFF;
	text-decoration: none;
	letter-spacing: 5px;
	width: 180px;
	margin: 20px auto;
	font-weight: bold;
}
.content-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: auto;
	max-width: 1200px;
}