.button {
	display: flex;
	align-items: center;
	justify-content: center;
	border-style: none;
	border-radius: 5px;
	border-color: #000000;
	text-decoration: none;
	letter-spacing: 5px;
	margin: 20px auto;
	font-weight: bold;
}

.post-button {
	height: 30px;
	width: 250px;
	font-size: 20px;
}

.blue-button {
	background-color: #07AAE1;
}

.blue-button:hover {
	background-color: #0392c2;
	cursor:pointer;
}